@import "color";
@import "less/all";

html,
body {
  height: 100%;
}

body {
  color: @mainFontColor;
  padding: 0;
  margin: 0;
  font: 14px/20px 'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Arial, 'Helvetica Neue', Helvetica;
  background: #fff;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.clear {
  overflow: hidden;
}

.clear::before,
.clear::after {
  display: table;
  content: '';
}

.yh-normal-font-color {
  color: @normalFontColor;
}

.yh-desc-font-color {
  color: @descFontColor;
}

.yh-background-color {
  background: @backgroundColor;
}

.yh-border-color {
  border-color: @borderColor;
}

.yh-mask-color {
  background: @maskColor;
}
